@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<BlazoredToasts />

<div class="page">   
    
    @* show side bar when logged in *@
    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>      
    }

    <main>
        @* show side bar when logged in *@
        @if(AuthenticationService.User != null)
        {
            <div class="top-row px-4">
                @if (AuthenticationService.User != null)
                {
                    <div class="row">
                        <div class="col-lg-6"><span>@AuthenticationService.User.Role.ToString()</span></div>
                        <div class="col-lg-6"><a href="logout">LogOut</a></div>
                    </div>

                }                
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>