@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject IStudentService StudentService
@inject IToastService toastService

@if (loading || _student == null)
{
    <div class="spinner-border spinner-border-sm"></div>
}
else
{
    if (_student.Courses!.Count() > 0)
    {
        <table class="table small table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NQF Level</th>
                    <th>Duration</th>
                    <th>Registered</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in _student.Courses!)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>@course.NQFLevel</td>
                        <td>@course.Duration</td>
                        <td>
                            @if (course.Registered)
                            {
                                <span class="oi oi-circle-check" aria-hidden="true" style="color: green !important;"></span>
                            }
                            else
                            {
                                <span class="oi oi-circle-x" aria-hidden="true" style="color:red !important"></span>
                            }

                        </td>
                        <td>
                            @if (course.Registered)
                            {
                                <button class="btn btn-primary float-end" @onclick="e => ClickHandler(course.Id)">De-Register</button>
                            }
                            else
                            {
                                <button class="btn btn-primary float-end" @onclick="e => ClickHandler(course.Id)">Register</button>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }    

    else
    {
        <p class="align-content-center" style="text-align:center;">You have not enrolled for any courses. Please click on "Courses" tab to register course </p>              
    }
}

@code {
    private bool loading;
    private StudentResponse? _student;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetStudentAsync();
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
            loading = false;            
            StateHasChanged();
        }

    }

    private async Task GetStudentAsync()
    {
        loading = true;
        _student = await StudentService.GetStudentInformationAsync(new StudentRequest(AuthenticationService.User.Id));
        loading = false;
    }

    private async void ClickHandler(Guid courseId)
    {
        try
        {
            var course = _student!.Courses!.FirstOrDefault(x => x.Id == courseId);
            var response = await CourseRegistrationHelper.EnrollOrUnregisterCourseAsync(StudentService, AuthenticationService.User.Id, course!);

            if (response)
            {
                toastService.ShowSuccess($"Successfully {(course!.Registered ? "enrolled to" : "un-registered from")} ({course!.Name}) course.");
                loading = false;

                await GetStudentAsync();
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}
