@page "/"
@attribute [Authorize]
@inject IAuthenticationService AuthenticationService

<div class="row">
    <h6>@AuthenticationService.User.Role Dashboard</h6>
    @if (AuthenticationService.User.Role.Equals(RolesResponse.Admin))
    {
        <AdminDashboard></AdminDashboard>
    }
    @if (AuthenticationService.User.Role.Equals(RolesResponse.Student))   
    {
        <StudentDashboard></StudentDashboard>
    }    
    @if (AuthenticationService.User.Role.Equals(RolesResponse.Lecture))
    {
        <AdminDashboard></AdminDashboard>
    }
</div>

@code {

}