@page "/"
@attribute [Authorize]
@inject IAuthenticationService AuthenticationService

<div class="row">
    <h6>@AuthenticationService.User.Role Dashboard</h6>
    @if (AuthenticationService.User.Role == Roles.Admin)
    {
        <AdminDashboard></AdminDashboard>
    }
    else
    {
        <StudentDashboard></StudentDashboard>
    }    
</div>

@code {

}